
*.pyc
Project 1/Audio Files/HEY_1_echos.mp3
Project 1/Audio Files/HEY_1_reverb.mp3
Project 1/Audio Files/HEY_1sec_delay.mp3
Project 1/Audio Files/HEY_2_echos.mp3
Project 1/Audio Files/HEY_2_reverb.mp3
Project 1/Audio Files/HEY_2sec_delay.mp3
Project 1/Audio Files/HEY_3_echos.mp3
Project 1/Audio Files/HEY_3_reverb.mp3
Project 1/Audio Files/HEY_3sec_delay.mp3
Project 1/Audio Files/TEST_HEY_reverb.mp3
